body {
    text-align: center;
    background: linear-gradient(#cffc03 0%, #03fca5 100%);
    background-repeat: no-repeat;
    height: 700px
}

h1 {
    color: #ff3103;
    text-shadow: 2px 2px #0a0a0a;
    font-size: 50px;
}

#bio {
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 20em;
}

.links:hover {
    background-color: deepskyblue;
}

.menu {
    list-style: none;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 30px;
    left: 30px;
    font-family: sans-serif;
    z-index: 10;
    cursor: pointer;
    text-align: right;
}


html {
    scroll-behavior: smooth;
}

.Bla {
    width: 20em;
    height: 20em;
    border-radius: 0;
    border: 10px solid #AAAAAA;
    transition: transform .2s;

}

.links {
    float: right;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 9px;
    padding-left: 9px;
    font-family: fantasy;
    font-size: 20px;
}

.Bla:hover {
    transform: scale(0.9);
}
